body{
  background-image: url("http://img09.deviantart.net/5b51/i/2011/162/6/f/imam_abbas_shrine_by_70hassan07-d3im74h.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutDiv, #homeDiv, #galleryDiv, #contactDiv{
  text-align: center;
  color: #0c320c;
}
#map {
  display: inline-block;
  width: 50% !important;
  height: 400px !important;
  background-color: transparent;
}

#logo{
  border-style: solid;
  margin: auto;
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 5px;
  display:inline-block;
  color: #0c320c;
  background-color: transparent;

}
#nav.shrink {
  transition: all ease .5s;
  background: rgba(0,0,0,.6); /* Change background to black on scroll*/
}
.announcments{
  display: inline-block;
  max-width: 50%;

}
.fa{
  color: #0c320c;
  background-color: transparent;
}
#nav{
  color: #0c320c;
  border-color: #0c320c;
  background-color: transparent;
}

.btn{
  height: 50px;
  float: right;  
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 3px;
  display:inline-block;
  border-color: #0c320c;
  color: #0c320c;
  opacity: .8;
}

.btn:focus,.btn:active {
   outline: none !important;
}
